@model BasketViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="col-md-8 offset-md-2">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card</h5>
            @if(Model!=null&& Model.BasketItems.Any())
            {
                <table class="table table-striped">
                    <tr>
                        <th>Course name</th>
                        <th>Course price</th>
                        <th>Actions</th>
                    </tr>

                    @foreach (var item in Model.BasketItems)
                    {
                        <tr>
                            <td>@item.CourseName</td>
                            <td>@item.Price USD @(Model.HasDiscount ? $"({Model.DiscountRate.Value}% applied)" : "")</td>
                            <td><a class="btn btn-danger" asp-controller="basket" asp-action="RemoveBasketItem" asp-route-courseId="@item.CourseId">Delete</a></td>
                        </tr>
                    }
                    @if (Model.HasDiscount)
                    {
                        <tr>
                            <td>Discount rate</td>
                            <td colspan="2">%@Model.DiscountRate.Value</td>
                        </tr>
                    }

                    <tr>
                        <td>@(Model.HasDiscount?"Price with discount":"Total price")</td>
                        <th colspan="2">@Model.TotalPrice USD </th>
                    </tr>
                </table>
                <form asp-controller="basket" asp-action="applydiscount">
                    @if (Model.HasDiscount)
                    {
                        <div class="alert alert-success">
                            "@Model.DiscountCode" has been applied
                            <a asp-action="CancelApplyDiscount" asp-controller="basket">(Cancel)</a>
                        </div>
                    }

                    @if (TempData["discountStatus"] != null && (bool)TempData["discountStatus"] == false)
                    {
                        <div class="text-danger">Discount code is unavailable</div>
                    }
                    @if (TempData["discountError"]!=null)
                        {
                        <div class="text-danger">@TempData["discountError"]</div>
                    }
                    <div class="input-group mb-3">
                        <input type="text" name="DiscountApplyInput.Code" class="form-control">
                        <button class="btn btn-outline-secondary" type="submit">Apply</button>
                    </div>
                </form>
                <a class="btn btn-success" asp-controller="order" asp-action="checkout">Go to payment</a>
                <a class="btn btn-warning" asp-controller="home" asp-action="index">Continue shopping</a>
            }
            else
            {
                <div class="alert alert-info">Basket empty</div>
            }
        </div>
    </div>
</div>
