@model List<CourseViewModel>
﻿@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Courses</h5>

                <a asp-controller="Courses" asp-action="Create" class="btn btn-primary mb-3">Create a course</a>
                @if (Model!=null)
                {
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Photo</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Duration</th>
                                <th>Category</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><img src="E:/Coding/E-Commerce-.NET-7-Microservices/Services/PhotoStock/FreeCourse.Services.PhotoStock/wwwroot/photos/d6c0c9c6-6d2f-4c97-8af0-2ab52e8ac5d9.png" class="img-thumbnail" style="width:72px;" /></td>
                                    <td>@item.Name</td>
                                    <td>@item.Price</td>
                                    <td>@item.Feature.Duration</td>
                                    <td>@item.Category.Name</td>
                                    <td>
                                        <a asp-controller="Courses" asp-action="Update" asp-route-courseId="@item.Id" class="btn btn-success btn-sm">Update</a>

                                        <a asp-controller="Courses" asp-action="Delete" asp-route-courseId="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-info">
                        No course found
                    </div>
                }
            </div>
        </div>
    </div>
</div>